* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  width: 100vw;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  text-align: center;
  margin-top: 5vw;
  height: 5vw;
}

#search-box {
  width: 100vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

input {
  width: 45vw;
  height: 4vw;
  padding: 1vw;
  border-radius: 5px;
  border: 1px black solid;
  font-size: 1.5vw;
  background-color: yellow;
}

#analytics {
  width: 100vw;
  height: 30vw;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#searchResultsList {
  list-style-type: none;
}